{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Placemark : Record the rock climbing routes you have climbed in Ireland </p>
    <p class="box">
      <i class="fas fa-location-arrow fa-8x" style="color:darkorange"></i>
      <i class="fas fa-plus fa-4x" style="color:deepskyblue"></i>
      <i class="fas fa-check-double fa-8x" style="color:gold"></i>
    </p>
  </div>
</section> 