{{> admin-menu active="admin"}}
<h1 class="title is-1">Admin Dashboard</h1>
<p>Total Number of Users : {{users.length}} </p>
<p>Total Number of Crags registered by Users: {{cragCount}} </p>
<p>Total Number of Routes registered by Users: {{routeCount}} </p><br>
{{> list-users}}