{{> welcome-menu}}

<body>
<section class="section">
  <figure class="image is-128x128">
  <img src="/images/climber2.jpg">
</figure>
</section>
<section>
  <h1 class="title"> Placemark : Climb Ireland </h1>
  <h2 class="subtitle">An app to help you record the routes you have climbed in different crags around Ireland.  
    Keep track of what crags you have visited and in conjunction with the route database build 
    a record of the routes you have ticked off.  </h2>
  </section>

<section class="section">
  <p> Sign up or Log in... </p>
</section>

</body> 

{{> footer}}