<form name="addcrag" class="box" action="/dashboard/addcrag" onsubmit="return validateForm()" method="POST">
  <div class="field is-horizontal">
    <div class="field-body">
    <div class="field">
    <label class="label">Crag Name</label>
    <select id="crags" onChange="return updateLatLong()" type="text" placeholder="Select Crag" name="title">
        <option value="Please select" disabled>Please select...</option>
        <option value="TheGap">Gap of Dunloe</option>
        <option value="Burren">The Burren</option>
        <option value="Fairhead">Fairhead</option>
        <option value="Glendalough">Glendalough</option>
        <option value="Mournes">The Mournes</option>
        <option value="Murlough">Murlough Bay</option>
        <option value="Dalkey">Dalkey Quarry</option>
        <option value="Ballykeefe">Ballykeefe Quarry</option>
      </select>
  </div>
    <div class="field">
    <label class="label">Latitude</label> <input class="input" type="number" placeholder="00.00" step=".01" min="-90" max="90" id="latitude" name="lat">
  </div>
   <div class="field">
     <label class="label">Longitude</label> <input class="input" type="number" placeholder="00.00" step=".01" min="-180" max="180" id="longitude" name="lng">
    </div>
    <div class="field">
     <label class="label">Approach</label> <input class="input" type="text" placeholder="Enter approach description" name="approach">
    </div>
    </div>
    </div>
  <button class="button is-link">Add Crag</button>
</form>
 
<!-- https://www.w3schools.com/howto/howto_js_validation_empty_input.asp-->
<script>
    function validateForm() {
        var cragname = document.forms["addcrag"]["title"].value;
        var latitude = document.forms["addcrag"]["lat"].value;
        var longitude = document.forms["addcrag"]["lng"].value;
        var approach = document.forms["addcrag"]["approach"].value;
        if ((cragname == "" || cragname == null) || (latitude == "" || latitude == null) || (longitude == "" || longitude == null) || (approach == "" || approach == null)) {
            alert("All fields must be filled in");
            return false;
        }
    }
</script>

<!-- https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js -->
<script>
function updateLatLong(){
    var ddl = document.getElementById("crags");
    var selectedOption = ddl.options[ddl.selectedIndex];
    var crag = selectedOption.getAttribute("value");
    var latitude = document.getElementById("latitude");
    var longitude = document.getElementById("longitude");
    if(crag=="TheGap"){
    	latitude.value = "52.03";
      longitude.value = "-9.63";
    }
    else if(crag=="Burren"){
    	latitude.value = "53.05";
      longitude.value = "-9.35";
    }   
     else if(crag=="Fairhead"){
    	latitude.value = "55.21";
      longitude.value = "-6.15";
    }   
     else if(crag=="Glendalough"){
    	latitude.value = "53.01";
      longitude.value = "-6.34";
    }   
     else if(crag=="Mournes"){
    	latitude.value = "54.15";
      longitude.value = "-6.06";
    }   
     else if(crag=="Murlough"){
    	latitude.value = "55.21";
      longitude.value = "-6.11";
    }   
     else if(crag=="Dalkey"){
    	latitude.value = "53.27";
      longitude.value = "-6.10";
    }   
     else if(crag=="Ballykeefe"){
    	latitude.value = "52.60";
      longitude.value = "-7.40";
    }   
}
</script>